networks:
    tasque-manager-dev:
services:
    web_api:
        build:
            context: ./TasqueManager
            dockerfile: Dockerfile
        image: tasque_manager_api
        container_name: tasque_manager_api
        restart: unless-stopped
        ports:
            - "5000:80"
        depends_on:
            - postgres_db
            - rabbitmq
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__DefaultConnection=Host=postgres_db;Port=5432;Database=tasque-manager;Username=postgres;Password=FroggiT67$$;
            - RabbitMQ__Host=rabbitmq
            - RabbitMQ__Username=guest
            - RabbitMQ__Password=guest
        labels:
          - "prometheus.enable=true"
          - "prometheus.job=web_api"
          - "prometheus.port=80"
          - "prometheus.path=/metrics"
        networks:
            - tasque-manager-dev
    consumer:
        build:
            context: ./NotificationService
            dockerfile: Dockerfile
        image: consumer_api
        container_name: consumer_api
        restart: unless-stopped
        ports:
            - "5001:80"
        depends_on:
            - postgres_db
            - rabbitmq
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__DefaultConnection=Host=postgres_db;Port=5432;Database=tasque-manager;Username=postgres;Password=FroggiT67$$;
            - RabbitMQ__Host=rabbitmq
            - RabbitMQ__Username=guest
            - RabbitMQ__Password=guest
        networks:
            - tasque-manager-dev
    rabbitmq:
        image: rabbitmq:3-management-alpine
        container_name: tasque-manager-rabbitmq
        hostname: rabbitmq
        ports:
            - "5672:5672"   # AMQP protocol port
            - "15672:15672" # Management UI port
        environment:
            - RABBITMQ_DEFAULT_USER=guest
            - RABBITMQ_DEFAULT_PASS=guest
        volumes:
            - rabbitmq-data:/var/lib/rabbitmq
        networks:
            - tasque-manager-dev
    postgres_db:
        container_name: postgres
        image: postgres:latest
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: FroggiT67$$
            POSTGRES_DB: tasque-manager
        ports:
            - "5432:5432"
        networks:
            - tasque-manager-dev
        volumes:
            - postgres-data:/var/lib/postgresql/data
    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        command:
          - '--config.file=/etc/prometheus/prometheus.yml'
          - '--web.enable-lifecycle'
        ports:
          - "9090:9090"
        volumes:
          - ./prometheus:/etc/prometheus
          - prometheus-data:/prometheus
        networks:
          - tasque-manager-dev
        depends_on:
          - web_api
        restart: unless-stopped
volumes:
    postgres-data:
    rabbitmq-data:
    prometheus-data: