networks:
    tasque_services:

services:
    web_api:
        build:
            context: ./TasqueManager
            dockerfile: Dockerfile
        image: tasque_manager_api
        container_name: tasque_manager_api
        restart: unless-stopped
        ports:
            - "5000:80"
        depends_on:
            - postgres_db
            - rabbitmq
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionString=Host=postgres_db;Port=5432;Database=tasque-manager;Username=postgres;Password=FroggiT67$$
            - RMQSettings__Host=rabbitmq
            - RMQSettings__VHost=/
            - RMQSettings__Login=guest
            - RMQSettings__Password=guest
        labels:
          - "prometheus.enable=true"
          - "prometheus.job=web_api"
          - "prometheus.port=80"
          - "prometheus.path=/metrics"
        networks:
            - tasque_services

    consumer:
        build:
            context: ./NotificationService
            dockerfile: Dockerfile
        image: consumer_api
        container_name: consumer_api
        restart: unless-stopped
        ports:
            - "5001:80"
        depends_on:
            - postgres_db
            - rabbitmq
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionString=Host=postgres_db;Port=5432;Database=tasque-manager;Username=postgres;Password=FroggiT67$$
            - RMQSettings__Host=rabbitmq
            - RMQSettings__VHost=/
            - RMQSettings__Login=guest
            - RMQSettings__Password=guest
        networks:
            - tasque_services

    rabbitmq:
        image: rabbitmq:3-management-alpine
        container_name: rabbitmq
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            - RABBITMQ_DEFAULT_USER=guest
            - RABBITMQ_DEFAULT_PASS=guest
        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s
        volumes:
            - rabbitmq-data:/var/lib/rabbitmq
        networks:
            - tasque_services

    postgres_db:
        container_name: postgres_db
        image: postgres:latest
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=FroggiT67$$
            - POSTGRES_DB=tasque-manager
            - PGDATA=/var/lib/postgresql/18/docker
            - POSTGRES_HOST_AUTH_METHOD=trust
        ports:
            - "5432:5432"
        volumes:
            - postgres-data:/var/lib/postgresql
        networks:
            - tasque_services
        healthcheck:
          test: ["CMD-SHELL", "pg_isready -U postgres"]
          interval: 5s
          timeout: 5s
          retries: 5

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        command:
          - '--config.file=/etc/prometheus/prometheus.yml'
          - '--web.enable-lifecycle'
        ports:
          - "9090:9090"
        volumes:
          - ./prometheus:/etc/prometheus
          - prometheus-data:/prometheus
        depends_on:
          web_api:
            condition: service_started
        restart: unless-stopped
        networks:
            - tasque_services

volumes:
    postgres-data:
    rabbitmq-data:
    prometheus-data: